<div class="no-internet">
  No Internet Please reload 👉
  <a href="javascript:void(0)" (click)="reload()">
    <img src="./assets/light/reload.png" alt="" />
  </a>
</div>

<div class="mesh">
  <div class="mesh__wrapper">
    <div class="mesh__wrapper__header">
      <div class="mesh__wrapper__header__meshLogo">
        <div class="mesh__wrapper__header__meshLogo__image">
          <img src="./assets/color/mesh-logo.svg" alt="" />
        </div>

        <div class="mesh__wrapper__header__meshLogo__title">
          Monitory & Energy Saving Hub
        </div>
      </div>
      <div class="mesh__wrapper__header__navlist">
        <div class="mesh__wrapper__header__navlist__item">
          <a class="active" href="javascript:void(0)">
            <span><img src="./assets/dark/dash.svg" alt="" /></span>
            Dashboard
          </a>
        </div>
        <!-- <div class="mesh__wrapper__header__navlist__item">
          <a href="javascript:void(0)">
            <span><img src="./assets/dark/dash.svg" alt="" /></span>
          </a>
        </div> -->
        <div class="disabled mesh__wrapper__header__navlist__item">
          <a href="javascript:void(0)">
            <span><img src="./assets/dark/box.svg" alt="" /></span>
          </a>
        </div>
        <div class="disabled mesh__wrapper__header__navlist__item">
          <a href="javascript:void(0)">
            <span><img src="./assets/dark/settings.svg" alt="" /></span>
          </a>
        </div>
        <div
          style="display: none"
          class="disabled mesh__wrapper__header__navlist__item"
        >
          <app-switch></app-switch>
        </div>
      </div>
      <div class="mesh__wrapper__header__bloomTechLogo">
        <object
          width="150px"
          height="48px"
          data="./assets/animated/header_bloom_tech_logo.svg"
          type="image/svg+xml"
        ></object>
        <!-- <img src="./assets/color/bloomTech-logo.svg" alt="" /> -->
      </div>
    </div>
    <div class="mesh__wrapper__body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
