// COLOR VARIABLES
////////////////////////////
$color-primary: #ffcc09;
$color-primary-dark: #ffcc00;
$color-gold: #CCA333;
$color-danger: #FF6060;
$color-green: #5CA100;
$color-white: #ffffff;

////////////////////////////
$color-gray: #eee;
$color-gray-dark: #6B6B6B;
$color-gray-light: #fafafa;

/////////////////////////////
$color-black: #000000;
$color-black-10: #444444;
$color-black-20: #aaaa;
$color-black-30: #6b6b6b;