<div class="anomalies">
  <div class="anomalies__unresolved">
    <p class="h1-bold font-black-10 anomalies__unresolved__title">
      Current Anomalies
    </p>
    <div
      class="anomalies__unresolved__cards"
      *ngIf="anomaliesDataResponse && anomaliesDataResponse.length"
    >
      <ng-container *ngFor="let item of anomaliesDataResponse; let i = index">
        <app-anomaly-card
          [anomalyData]="item"
          [counterSeconds]="getEventInterval()"
          [resolvedIndex]="resolvedIndex"
          [index]="i"
        >
        </app-anomaly-card>
      </ng-container>
    </div>
  </div>
  <div class="anomalies__resolved" *ngIf="disconnectedDevicesPerInventory">
    <p class="h1-bold font-black-10 anomalies__resolved__title">Room Offline</p>
    <ng-container
      *ngFor="
        let item of disconnectedDevicesPerInventory | keyvalue;
        let i = index
      "
    >
      <div class="anomalies__resolved__content">
        <div class="anomalies__resolved__content__hotel">
          <div class="anomalies__resolved__content__hotel__col-one">
            <div class="anomalies__resolved__content__hotel__col-one__bloom">
              <div
                class="anomalies__resolved__content__hotel__col-one__bloom__hotelBrand h3-bold font-gold"
              >
                {{ inventory[getString(item.key)]?.propertyRef?.brandName }}
              </div>
              <div
                class="anomalies__resolved__content__hotel__col-one__bloom__cityName h3-regular font-black-10"
              >
                {{ inventory[getString(item.key)]?.propertyRef?.name }}
              </div>
            </div>
          </div>
          <div class="anomalies__resolved__content__hotel__col-two">
            <div
              class="anomalies__resolved__content__hotel__col-two__roomCount h1-bold font-danger"
            >
              {{ getDisconnectedDevicesArray(item?.value).length }}
            </div>
            <div
              class="anomalies__resolved__content__hotel__col-two__roomTitle h3-light font-black-30"
            >
              Rooms
            </div>
          </div>
        </div>
        <ng-container *ngIf="item.value">
          <ng-container
            *ngFor="let data of getDisconnectedDevicesArray(item?.value)"
          >
            <ng-container>
              <div class="anomalies__resolved__content__divider"></div>
              <div class="anomalies__resolved__content__room">
                <div class="anomalies__resolved__content__room__col-one">
                  <div
                    class="anomalies__resolved__content__room__col-one__device"
                  >
                    <div
                      class="anomalies__resolved__content__room__col-one__device__deviceId h3-light font-gold"
                    >
                      {{ data.placeCode }}
                    </div>
                    <div
                      class="anomalies__resolved__content__room__col-one__device__rooms font-black-10"
                    >
                      <ng-container
                        *ngFor="
                          let pins of data.pinAndAppliances;
                          let i = index
                        "
                      >
                        {{ pins.device.replace("_", " ").toLowerCase() }}
                        {{
                          i ===
                          getPlaceAndPins(data.pinAndAppliances)?.length - 1
                            ? ""
                            : ", "
                        }}
                      </ng-container>
                    </div>
                  </div>
                </div>
                <div
                  style="text-align: right"
                  class="anomalies__resolved__content__room__col-two"
                >
                  <div
                    class="anomalies__resolved__content__room__col-two__roomMin h3-bold font-gold"
                  >
                    {{
                      getDisconnectedTimeDiff(
                        data.deviceDisconnectionTime,
                        getEventInterval() | async
                      )
                    }}
                  </div>
                  <div
                    class="anomalies__resolved__content__room__col-two__hhmm h3-regular font-black-10"
                  >
                    {{ getDisconnectedTime(data.deviceDisconnectionTime) }}
                  </div>
                </div>
              </div></ng-container
            >
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<div id="audio"></div>
