.btn-primary {
    border-radius: 4px;
    border: 1px solid #CCA333;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    color: #CCA333;
    padding: 10px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}